<div class="grid grid-cols-1 m-3 border-slate-400 lg:w-[800px] gap-8">
  <div
    class="xl:col-span-1 flex flex-col flex-auto bg-white drop-shadow-md rounded-2xl overflow-hidden"
  >
    <div class="p-6 card-header">
      <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">
        Recent Logs
      </div>
      <div class="text-secondary font-light">
        Trainings you have done past few weeks
      </div>
    </div>
    <div class="flex">
      <mat-card class="w-5/6 flex flex-col items-center">
        <mat-calendar
          [dateClass]="dateClass()"
          [(selected)]="selectedDate"
          class="w-full"
          (selectedChange)="selectDay()"
        >
        </mat-calendar>
        <button
          *ngIf="selectedTrainingLog != undefined"
          mat-stroked-button
          class="border-red-500 text-red-500 w-80 ml-2 mt-2 mb-2"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="delete"
          ></mat-icon>
        </button>
      </mat-card>
      <div class="flex flex-col w-full">
        <div
          class="color-primary m-4 mt-8 text-lg font-medium tracking-tight leading-6 truncate border-solid border-b b-primary"
        >
          Exercises
        </div>
        <div
          class="exercise-container flex justify-center flex-wrap overflow-auto"
        >
          <app-exercise-tile
            *ngFor="let exercise of exercises"
            [exercise]="exercise"
            (deleteExerciseEvent)="deleteExercise($event)"
            (updateExerciseEvent)="updateExercise($event)"
          ></app-exercise-tile>
        </div>

        <span *ngIf="exercises?.length == 0" class="m-3 italic">
          No exercises logged for this day
        </span>
        <button
          mat-raised-button
          class="bg-primary text-white m-3"
          (click)="addExercise()"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add"
          ></mat-icon>
          Add Exercise
        </button>
      </div>
    </div>
  </div>
</div>
