<div class="grid grid-cols-1 m-3 border-slate-400 lg:w-[700px] gap-8">
  <div
    class="xl:col-span-1 flex flex-col flex-auto bg-white drop-shadow-md rounded-2xl overflow-hidden"
  >
    <div class="p-6 flex justify-between chart-header">
      <div>
        <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">
          Training Chart
        </div>
        <div class="text-secondary font-light">
          Analytics of your past trainings
        </div>
      </div>
      <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        (change)="onTimeframeChange($event.value)"
      >
        <mat-button-toggle
          value="Monthly"
          [checked]="timeframeSelected == 'Monthly'"
          >Monthly</mat-button-toggle
        >
        <mat-button-toggle
          value="Yearly"
          [checked]="timeframeSelected == 'Yearly'"
          >Yearly</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
    <div class="flex flex-col justify-between p-4">
      <div>
        <mat-form-field
          *ngIf="timeframeSelected == 'Monthly'"
          class="w-24 p-3"
          appearance="outline"
        >
          <mat-label>Month</mat-label>
          <mat-select
            [(ngModel)]="monthSelected"
            (selectionChange)="monthChange($event.value)"
          >
            <mat-option *ngFor="let month of months" [value]="month">
              {{ month }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-36 p-3" appearance="outline">
          <mat-label>Year</mat-label>
          <mat-select
            [(ngModel)]="yearSelected"
            (selectionChange)="yearChange($event.value)"
          >
            <mat-option *ngFor="let year of years" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Exercise</mat-label>
          <mat-select
            [(ngModel)]="selectedExercise"
            (selectionChange)="exerciseChange($event.value)"
          >
            <mat-option *ngFor="let exercise of exercises" [value]="exercise">
              {{ exercise }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex justify-end items-center pr-6">
        <div
          *ngIf="progressPercentage >= 0; then thenBlock; else elseBlock"
        ></div>
        <ng-template #thenBlock
          ><mat-icon
            *ngIf="progressPercentage >= 0; else elseBlock"
            class="mr-1 icon-size-5 text-green-500"
            >trending_up</mat-icon
          >
          <div
            class="font-medium text-base text-secondary leading-none whitespace-nowrap"
          >
            <span class="text-green-500">{{ progressPercentage }}%</span>
            {{
              timeframeSelected == "Monthly"
                ? "weight increase this month"
                : "weight increase this year"
            }}
          </div></ng-template
        >
        <ng-template #elseBlock
          ><mat-icon
            *ngIf="progressPercentage < 0"
            class="mr-1 icon-size-5 text-red-500"
            >trending_down</mat-icon
          >
          <div
            class="font-medium text-base text-secondary leading-none whitespace-nowrap"
          >
            <span class="text-red-500">{{ progressPercentage }}%</span>
            {{
              timeframeSelected == "Monthly"
                ? "weight increase this month"
                : "weight increase this year"
            }}
          </div></ng-template
        >
      </div>
    </div>
    <div id="chart" class="p-3">
      <ng-container *ngIf="(chartOptions | json) != '{}'">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [colors]="chartOptions.colors"
          [dataLabels]="chartOptions.dataLabels"
          [legend]="chartOptions.legend"
          [markers]="chartOptions.markers"
          [grid]="chartOptions.grid"
          [yaxis]="chartOptions.yaxis"
          [title]="chartOptions.title"
        ></apx-chart>
      </ng-container>
      <span *ngIf="(chartOptions | json) == '{}'">
        No data for given filters
      </span>
    </div>
  </div>
</div>
