<div class="flex flex-auto flex-wrap">
  <div class="flex flex-col w-full">
    <div class="flex items-center justify-between p-6 bg-primary">
      <div>
        <div
          class="mr-4 text-white text-lg font-medium tracking-tight leading-6 truncate"
        >
          {{ updateMode ? "Update Exercise" : "Add Exercise" }}
        </div>
        <div class="text-white font-light">Provide exercise details</div>
      </div>
      <button (click)="onDialogClose()">
        <mat-icon class="cancel-icon">cancel</mat-icon>
      </button>
    </div>
    <div class="flex">
      <div class="flex flex-col mt-6 pl-3">
        <mat-form-field class="example-form-field pl-3">
          <mat-label>Filter Exercises</mat-label>
          <input matInput type="text" />
          <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon class="filter-cancel">close</mat-icon>
          </button>
        </mat-form-field>
        <div class="exercise-container">
          <mat-card
            [ngClass]="
              selectedExercise.id === exercise.id
                ? 'exercise-card selected'
                : 'exercise-card'
            "
            *ngFor="let exercise of availableExercises"
            (click)="onExerciseChange(exercise.id)"
          >
            <mat-card-content>{{ exercise.name }}</mat-card-content>
          </mat-card>
        </div>
      </div>
      <form
        class="flex flex-col items-center p-6"
        [formGroup]="exerciseForm"
        (ngSubmit)="onSubmit(exerciseForm)"
      >
        <div
          class="w-64 h-64 flex items-center justify-center m-2 border-primary rounded-lg"
        >
          <img
            *ngIf="selectedExercise.image !== ''; else elseBlock"
            class="w-64 h-64 p-1"
            [src]="selectedExercise.image"
            alt="Card cover image"
          />
          <ng-template #elseBlock>Select exercise to preview</ng-template>
        </div>

        <div class="flex mt-5">
          <mat-form-field class="w-28 pr-2" appearance="outline">
            <mat-label>Reps</mat-label>
            <input
              matInput
              type="number"
              placeholder="Reps"
              formControlName="reps"
            />
          </mat-form-field>
          <mat-form-field class="w-28 pl-2" appearance="outline">
            <mat-label>Sets</mat-label>
            <input
              matInput
              type="number"
              placeholder="Sets"
              formControlName="sets"
            />
          </mat-form-field>
          <mat-form-field class="w-28 pl-2" appearance="outline">
            <mat-label>Weight</mat-label>
            <input
              matInput
              type="number"
              placeholder="Weight"
              formControlName="weight"
            />
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          class="bg-primary text-white w-full"
          type="submit"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            [fontIcon]="updateMode == true ? 'edit' : 'add'"
          ></mat-icon>
          {{ updateMode ? "Update Exercise" : "Add Exercise" }}
        </button>
      </form>
    </div>
  </div>
</div>
