/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

:root {
  --bg: rgb(30 41 59 / 1);
  --primary: #2196f3;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: auto;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-danger {
  background-color: #ff2442;
}

.bg-warning {
  background-color: #ffb830;
}

.b-primary {
  border-color: var(--primary);
}

.btn-primary-outline {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.color-primary {
  color: var(--primary) !important;
}

.text-danger {
  color: #ff2442 !important;
}

::-webkit-scrollbar {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary) !important;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent var(--primary) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: var(--primary) transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}
