<div class="grid grid-cols-1 m-3 border-slate-400 lg:w-[800px] gap-8">
  <div
    class="xl:col-span-1 flex flex-col flex-auto bg-white drop-shadow-md rounded-2xl overflow-hidden"
  >
    <div class="p-6 card-header">
      <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">
        Recent Logs
      </div>
      <div class="text-secondary font-light">
        Most recent meals that you had
      </div>
    </div>
    <div class="flex">
      <mat-card class="w-5/6 flex flex-col items-center">
        <mat-calendar
          [dateClass]="dateClass()"
          [(selected)]="selectedDate"
          class="w-full"
          (selectedChange)="selectDay()"
        >
        </mat-calendar>
        <button
          *ngIf="selectedFoodLog != undefined"
          mat-stroked-button
          class="border-red-500 text-red-500 w-80 ml-2 mr-2 mb-2"
          (click)="deleteFoodLog()"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="delete"
          ></mat-icon>
          Delete
        </button>
      </mat-card>
      <div class="flex flex-col mat-elevation-z8 w-full">
        <div
          class="color-primary m-4 mt-8 text-lg font-medium tracking-tight leading-6 truncate border-solid border-b b-primary"
        >
          Meals
        </div>
        <div class="food-container flex justify-center flex-wrap">
          <app-food-tile
            @addTile
            @deleteTile
            [@.disabled]="isLoadingList"
            *ngFor="let foodItem of foodItems"
            [foodItem]="foodItem"
            (deleteFoodItemEvent)="deleteFoodItem($event)"
            (updateFoodItemEvent)="updateFoodItem($event)"
          ></app-food-tile>
        </div>
        <span *ngIf="foodItems?.length == 0" class="m-3">
          No meals logged for this day
        </span>
        <button
          mat-raised-button
          class="bg-primary text-white m-3"
          (click)="addFoodItem()"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add"
          ></mat-icon>
          Add Meal
        </button>
      </div>
    </div>
  </div>
</div>
