<div class="bg-slate-100 p-5 h-full">
  <div>
    <div class="text-3xl font-semibold tracking-tight leading-8">
      Weight Log
    </div>
    <div class="font-light tracking-tight text-secondary">
      Track your weight changes
    </div>
  </div>
  <ng-container *ngIf="weightLogs$ | async as weightLogs">
    <div class="flex">
      <app-weight-log-list
        [weightLogs]="weightLogs"
        (selectedDayChangeEvent)="onGet($event)"
        (addWeightLogEvent)="onAdd($event)"
        (deleteWeightLogEvent)="onDelete($event)"
      >
      </app-weight-log-list>
      <app-weight-chart [chartData]="weightLogs$ | async"></app-weight-chart>
    </div>
  </ng-container>
</div>
