<div class="bg-slate-800 p-16 h-full">
  <div>
    <div class="text-white text-3xl font-semibold tracking-tight leading-8">
      Weight Log
    </div>
    <div class="text-white font-light tracking-tight text-secondary">
      Track your weight changes
    </div>
  </div>
  <ng-container *ngIf="weightLogs$ | async as weightLogs">
    <div class="flex">
      <app-weight-log-list
        [weightLogs]="weightLogs"
        [selectedDate]="selectedDate"
        [selectedWeightLog]="selectedWeightLog"
        (selectedDayChangeEvent)="onGet($event)"
        (addWeightLogEvent)="onAdd($event)"
        (updateWeightLogEvent)="onUpdate($event)"
        (deleteWeightLogEvent)="onDelete($event)"
      >
      </app-weight-log-list>
      <app-weight-chart [chartData]="weightLogs"></app-weight-chart>
    </div>
  </ng-container>
</div>
