::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

button {
  border-radius: 50px;
}

.cancel-icon {
  color: white;
}

.warning-header {
  background-color: darkorange;
}

.warning-icon {
  color: #dc2626;
  background-color: #fee2e2;
}

h2 {
  color: #fff;
}
