<nav class="w-28 h-full bg-gray-900 p-2">
    <div class="logo w-full h-24 text-white flex items-center justify-center mb-8">
        <fa-icon class="text-lg -rotate-45 text-5xl" [icon]="faDumbell"></fa-icon>
    </div>
    <div class="flex flex-col items-center justify-center">
        <a class="logo w-full h-full text-white flex items-center justify-center m-1" *ngFor="let link of links" [routerLink]="link.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <li class="flex flex-col items-center justify-center w-full h-16 text-white text-sm font-medium">
                <fa-icon class="text-lg" [icon]="link.icon"></fa-icon>
                {{link.title}}
            </li>
        </a>
    </div>
</nav>

