<div class="flex w-96 filter-info rounded-2xl shadow m-2 border-2 b-primary">
  <div class="flex items-center justify-between w-full">
    <div class="flex flex-col ml-4 mt-2 mb-2">
      <div class="text-lg font-semibold leading-tight">
        {{ exercise.exerciseChoice?.name }}
      </div>
      <div class="flex">
        <div class="text-md text-secondary">
          {{ exercise.sets }}x{{ exercise.reps }}
        </div>
        <div
          class="text-md font-bold b-primary h-full ml-4 rounded-xl color-primary"
        >
          {{ exercise.weight }}kg
        </div>
      </div>
    </div>

    <div class="flex h-full">
      <button
        class="flex items-center text-xl color-primary h-full p-2"
        (click)="exerciseUpdate()"
      >
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button
        class="flex items-center text-xl bg-danger text-white h-full p-2 delete-button"
        (click)="exerciseDelete()"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
</div>
