<div class="bg-slate-800 p-20 h-full">
  <div>
    <div class="text-white text-3xl font-semibold tracking-tight leading-8">
      Training Log
    </div>
    <div class="text-white font-light tracking-tight text-secondary">
      Track your training logs and review performance
    </div>
  </div>
  <ng-container *ngIf="trainingLogs$ | async as trainingLogs">
    <div *ngIf="trainingLogs?.length !== 0">
      <div class="flex">
        <app-recent-logs-list
          [trainingLogs]="trainingLogs"
          [exercises]="exercises"
          (selectedDayChangeEvent)="fetchExercises($event)"
          (addExerciseEvent)="onAdd($event)"
          (updateExerciseEvent)="onUpdate($event)"
          (deleteExerciseEvent)="onDelete($event)"
        >
        </app-recent-logs-list>
        <app-training-chart [chartData]="trainingLogs"></app-training-chart>
      </div>
    </div>
  </ng-container>
</div>
