<div class="bg-slate-100 p-5 h-full">
    <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">
            Training Log
        </div>
        <div class="font-light tracking-tight text-secondary">Track your training logs and review performance</div>
    </div>
    <ng-container *ngIf="(trainingLogs$ | async) as trainingLogs">
        <app-recent-logs-list 
            [trainingLogs]="trainingLogs" 
            [exercises]="exercises" 
            (selectedDayChangeEvent)="fetchExercises($event)"
            (deleteExerciseEvent)="onDelete($event)"
            (addExerciseEvent)="onAdd($event)">
        </app-recent-logs-list>
    </ng-container>
</div>
