<div class="bg-slate-100 p-5 h-full">
  <div>
    <div class="text-3xl font-semibold tracking-tight leading-8">Food Log</div>
    <div class="font-light tracking-tight text-secondary">
      Track your food intake
    </div>
    <ng-container *ngIf="foodLogs$ | async as foodLogs">
      <div *ngIf="foodLogs?.length !== 0">
        <div class="flex">
          <app-food-log-list
            [foodLogs]="foodLogs"
            [foodItems]="foodItems"
            (selectedDayChangeEvent)="fetchFoodItems($event)"
            (addFoodItemEvent)="onAdd($event)"
            (updateFoodItemEvent)="onUpdate($event)"
            (deleteFoodItemEvent)="onDelete($event)"
          >
          </app-food-log-list>
        </div>
      </div>
    </ng-container>
  </div>
</div>
